<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp Web</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://kit.fontawesome.com/83402c2583.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body>
    <main id="root" :class="getTheme()">
      <div
        class="container mt-5 d-flex justify-content-center align-items-center"
      >
        <div class="main-window row" :class="getTheme()">
          <!--# Left Side -->
          <div class="left-column col-4 px-0" :class="getTheme()">
            <header class="d-flex" :class="getTheme()">
              <div id="user" class="flex-grow-1">
                <img
                  :src=" './img/avatar' + user.avatar +'.jpg'"
                  alt=""
                  class="avatar p-2"
                />
                <span class="fs-6"> {{user.name}}</span>
              </div>
              <div
                id="user-buttons"
                class="d-flex justify-content-around align-items-center"
              >
                <i class="fas fa-circle-notch fa-2x p-1 text-muted"></i>
                <i class="fas fa-comment-alt fa-2x p-1 text-muted"></i>
                <i class="fas fa-ellipsis-v fa-2x p-1 text-muted"></i>
                <i
                  class="far fa-lightbulb fa-2x p-1 text-muted"
                  @click="toggleTheme"
                ></i>
              </div>
            </header>
            <!-- # Notifications -->
            <div
              id="notifications"
              class="d-flex align-items-center"
              :class="getTheme()"
            >
              <div class="p-2">
                <i class="fas fa-bell-slash fa-3x" :class="getTheme()"></i>
              </div>
              <div class="px-3">
                <div class="fs-5 pt-2">Ricevi notifiche di nuovi messaggi</div>
                <div
                  class="fs-6 text-decoration-underline"
                  :class="[(theme==='dark') ? 'text-white' : 'text-muted']"
                >
                  Attiva notifiche desktop
                </div>
              </div>
            </div>
            <!-- # Search -->
            <div id="search">
              <div class="input-group p-2">
                <span class="input-group-text text-muted" id="basic-addon1"
                  ><i class="fas fa-search"></i
                ></span>
                <input
                  @keyup="filterContacts"
                  type="text"
                  class="form-control"
                  v-model.trim="searchKey"
                  placeholder="Cerca o inizia una nuova chat"
                />
              </div>
            </div>
            <!-- # Contacts -->

            <div id="contacts">
              <div
                v-for="(contact, index) in contacts"
                :class="[contact.visible ? 'visible' : 'd-none', {active: isActive(index)}]"
                class="contact row py-1 flex-nowrap"
                @click="setNewIndex(index)"
              >
                <div class="col-2 ms-1 my-1 d-flex align-items-center">
                  <img
                    :src="'./img/avatar' + contact.avatar + '.jpg'"
                    class="avatar"
                    alt=""
                  />
                </div>
                <div class="ms-1 col-6 flex-grow-1 m-0">
                  <div><span class="fs-5">{{contact.name}}</span></div>
                  <div class="lh-1">
                    <span class="fs-7">{{ getText(getLastMsg(index)) }}</span>
                  </div>
                </div>
                <div class="col-3">
                  <div>
                    <span class="fs-8">{{ getDate(getLastMsg(index)) }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--# Right Side -->
          <div class="right-column col-8 px-0">
            <div
              id="first-login"
              :class="showIntro ? 'visible' : 'd-none'"
            ></div>
            <header class="row mx-0" :class="getTheme()">
              <div class="col-1 px-0">
                <img
                  :src="'./img/avatar'+ contacts[currentIndex].avatar +'.jpg'"
                  alt=""
                  class="avatar p-2"
                />
              </div>
              <div class="col-6 me-auto pt-2 ps-4">
                <div class="text">{{contacts[currentIndex].name}}</div>
                <div class="date fw-light text-muted">
                  Ultimo accesso: {{getLastReceivedMsg(currentIndex)}}
                </div>
              </div>
              <div class="col d-flex align-items-center">
                <input
                  type="text"
                  v-model="msgSearchKey"
                  class="form-control"
                  :class="showSearchMsg ? 'visible' : 'd-none'"
                  id="basic-url"
                  aria-describedby="basic-addon3"
                />
              </div>
              <div
                id="chat-buttons"
                class="
                  mx-0
                  col-2
                  d-flex
                  justify-content-between
                  align-items-center
                  px-3
                "
              >
                <i
                  class="fas fa-search fa-lg p-1 text-muted"
                  @click="toggleMsgSearch"
                ></i>
                <i class="fas fa-paperclip fa-lg p-1 text-muted"></i>
                <i class="fas fa-ellipsis-v fa-lg p-1 text-muted"></i>
              </div>
            </header>
            <div id="chat" class="row d-flex mx-0 py-4" :class="getTheme()">
              <div class="col-12">
                <div
                  v-for="(message, index) in contacts[currentIndex].messages"
                  class="row message-container"
                  :class="message.status"
                >
                  <div
                    class="message p-3 rounded-8 col-4 mx-4 my-2"
                    :class="getTheme()"
                  >
                    <!-- # Dropdown -->

                    <div class="dropdown">
                      <button
                        class="btn message-button dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      ></button>
                      <ul
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton1"
                      >
                        <li>
                          <a
                            class="dropdown-item"
                            @click="deleteMsg(index)"
                            href="#"
                            >Delete message</a
                          >
                        </li>
                      </ul>
                    </div>

                    <!--  -->
                    <div class="text">{{message.message}}</div>
                    <div class="date fs-8 fw-light text-muted text-end">
                      {{message.date}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <footer id="message-box">
              <div class="input-group">
                <span class="input-group-text py-3"
                  ><i class="far fa-smile fa-2x text-muted"></i
                ></span>
                <input
                  @keyup.enter="sendMsg()"
                  v-model.trim="messageBoxContent"
                  type="text"
                  class="form-control"
                />
                <span class="input-group-text p-3"
                  ><i class="fas fa-microphone fa-2x text-muted"></i
                ></span>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <script src="./js/data.js"></script>
      <script src="./js/script.js"></script>
    </footer>
  </body>
</html>
