* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  overflow-y: hidden;
}

main.light {
  background: linear-gradient(#009688 15%, #dbdbd3 15% 80%);
}

main.dark {
  background: linear-gradient(#003f39 15%, #342f41 15% 80%);
}

.main-window {
  height: 90vh;
  width: 100%;
}
.main-window.light {
  background-color: white;
}
.main-window.dark {
  background-color: #131c21;
  color: white;
}

.debug-border {
  border: 2px dashed black;
}

.avatar {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.contact .avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

#contacts {
  overflow-x: hidden;
}

.fas.fa-bell-slash {
  background-color: white;
  border-radius: 50%;
  color: #8edafc;
  padding: 5px;
}

.fas.fa-bell-slash.dark {
  background-color: white;
  border-radius: 50%;
  color: #085373;
  padding: 5px;
}

.right-column {
  background-image: url(../img/mine.jpg);
}

#chat.dark {
  background-color: rgba(13, 20, 24, 0.7);
}

#notifications {
  height: 125px;
}

#notifications.light {
  background-color: #8edafc;
}
#notifications.dark {
  background-color: #085373;
}

#user-buttons i:hover {
  cursor: pointer;
}

header {
  height: 75px;
}

header.light {
  background-color: #eaeaea;
}
header.dark {
  background-color: #2a2f32;
}

#search {
  height: 55px;
}

.left-column.light .active {
  background-color: #eaeaea;
}
.left-column.dark .active {
  background-color: #323739;
}

.message-container.sent {
  justify-content: flex-end;
}

.message-container.sent .message.light {
  background-color: #d5f9ba;
}
.message-container.sent .message.dark {
  background-color: #056162;
}

.message-container.received {
  justify-content: flex-start;
}

.message-container.received .message.message.light {
  background-color: #ffffff;
}
.message-container.received .message.message.dark {
  background-color: #262d31;
}

.rounded-5 {
  border-radius: 0.5rem;
}
.rounded-8 {
  border-radius: 0.8rem;
}

.contact:hover {
  cursor: pointer;
}

.left-column.light .contact:hover {
  background-color: #eaeaea;
}
.left-column.dark .contact:hover {
  background-color: #323739;
}

#chat {
  overflow-y: scroll;
  height: calc(90vh - 75px - 65px);
}

#contacts {
  overflow-y: scroll;
  max-height: calc(90vh - 75px - 125px - 55px);
}

.right-column {
  position: relative;
}

.fs-7 {
  font-size: 0.9rem;
}

.fs-8 {
  font-size: 0.8rem;
}

#message-box {
  height: 65px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.message {
  position: relative;
}

.message .dropdown {
  position: absolute;
  right: 0px;
  top: 0px;
}

.message-button {
  color: white;
}
.message-button:hover {
  color: grey;
  transform: scale(150%);
}

#chat-buttons .fas:hover {
  cursor: pointer;
}
